* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navigation bar */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  scroll-behavior: smooth;
}

#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #162401;
  z-index: 2;
  transition: 0.5s;
}
nav ul li{
  list-style: none;
  margin: 50px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
#menuBtn{
  width: 50px;
  height: 50px;
  background-color:#162401;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menuBtn img{
  width: 20px;
  margin-top: 15px;
}

.nav-barr {
  position: fixed;
  width: 100%;
  height: 40%;
}
.nav img {
  width: 5em;
  margin-left: 50em;
}
.nav {
  height: 50px;
  width: 100%;
  background:#162401;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.nav>.nav-header {
  display: inline;
}
.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}
.nav>.nav-btn {
  display: none;
}
.nav>.nav-links {
  margin-right: 4em;
  display: inline;
  float: right;
  font-size: 18px;
}
.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color:whitesmoke;
  font-size: 1.1em;
}
.nav>.nav-links>a:hover {
  color: #8BC746;
}
.nav>#nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: #8BC746;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #021A08;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
     padding-left: 20px;
    background-color: black;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }
  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked~.nav-links {
    height: calc(25vh - 50px);
    overflow-y: auto;
  }
} 
  .nav>.nav-links {
    position: absolute;
  }
#homepage {
  /* border: 7px solid red; */
  background-image: url("https://res.cloudinary.com/djz4lxe3f/image/upload/v1684095125/Hotel-booking/homepage-removebg_endsje.png");
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content2{
  padding-left: 2em;
}
#textone {
  font-size: 3.5em;
  color: #162401;
  font-weight: bold;
}
#servetext {
  color: #162401;
  font-size: 3em;
  font-weight: bold;
  padding-left: 48px;
  padding-top: 20px;
}
#information {
  /* margin-top: 60px; */
  /* margin-left: 40%; */
  width: 40%;
  display: flex;
  /* padding-left: 30PX; */
  padding-top: 15%;
  flex-direction: column;
}
@media (max-width: 600px) {
  #homepage {
    align-items: center;
  }
  #information {
    width: 80%;
    padding-top: 10%;
  }
  #textone {
    font-size: 3em;
    color: #162401;
    font-weight: bold;
  }
  #servetext {
    color: #162401;
    font-size: 3em;
    font-weight: bold;
    padding-left: 48px;
    padding-top: 20px;
  }
}

/* @media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  ul li {
    display: block;
    margin: 10px ;
  }
  #information {
    width: 80%;
    padding-top: 10%;
  }
} */





/* * Styles for screens smaller than 768px  */
/* @media (max-width: 767px) {
  nav {
    flex-direction: column;
    padding: 10px;
  }
  ul li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  #homepage {
    align-items: center;
    text-align: center;
    background-size: contain;
  }
  #information {
    width: 80%;
    padding-top: 10%;
  }
  
} */











