.service {
    text-align: center;
    font-size: 3.5em;
    color: #D1570C;
}

.produce {
    padding-left: 2em;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.fresh {
    padding-left: 5em;
    font-size: 2.2em;
    color: #D1570C;
}

.selection {
    padding-left: 1em;
    font-size: 1.3em;
    padding-top: 30;
}

.grocci {
    /* margin-bottom: 60%; */
    /* padding-left: 30%; */
    padding-left: 15em;
    width: 35%;
    border-radius: 1em;
}

.deliver {
    width: 40%;
    padding-left: 15em;
    /* padding-left: 30%; */
}

.more {
    font-size: 1.3em;
    text-align: center;
}

.offers {
    width: 30%;
    padding-left: 30%;
}

 @media screen and (max-width: 768px) {
    .service {
        font-size: 2.5em;
    }

    .produce {
        padding-left: 1em;
        grid-template-columns: repeat(1, 1fr);
    }

    .fresh {
        font-size: 1.5em;
    }

    
    .grocci {
        padding-left: 5%;
        width: 90%;
    }

    .deliver {
        padding-left: 10%;
        margin-top: 0.5em;
    }

    .offers {
        margin-bottom: 5em; 
        padding-left: 10%;
    }
}