footer {
  background-color: #034001;
  /* border:2px solid red; */
  /* border: 2px solid red; */
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section1 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid grey; */
  height: 150px;
  color: whitesmoke;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section1 ul li {
  margin-bottom: 5px;
  display: block;
}
.footer-info {
  text-align: center;
  font-size: 14px;
  color: #777;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .footer-section h2 {
    font-size: 18px;
  }
  .footer-section ul {
    text-align: center;
  }
  .footer-info {
    font-size: 12px;
  }
}
